/* Type your code here */
body {
	background-image: url("./assets/background-image1.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;

}




.matchInform {
	display: grid;
	grid-template-columns: 7fr 2fr;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	margin: 30px;
	list-style: none;
}


header div {
	width: 1000px;
	margin: 30px;
}

header div ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	border-top-style: ridge;
	margin: 0px;
	height: 35px;
	background-color: white;

}



a {

	text-decoration: none;
	color: blue;
	cursor: pointer;
}


#outBy {

	padding-left: 40px;
}

#result {
	display: grid;
	grid-template-columns: 4fr 3fr;
	text-decoration: none;
	list-style: none;
	padding-bottom: 10px;

}

#matchName {
	display: grid;
	grid-template-columns: 5fr 1fr;
	background-color: rgb(243, 109, 109);
	text-decoration: none;
	list-style: none;
	font-size: 20px;
	padding-bottom: 15px;
}


.players {
	text-decoration: none;
	list-style: none;
	display: grid;
	grid-template-columns: 2fr 7fr 1fr 1fr 1fr 1fr 1fr 1fr;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

#menu {
	display: grid;
	grid-template-columns: 8.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
	text-decoration: none;
	list-style: none;
	padding-bottom: 10px;

}



/* change the font family and spacing as per your project font */
.footer {
	display: flex;
	flex-direction: row;
	align-content: flex-end;
	position: relative;
	margin-left: 80px;
	font-size: 18px;
	font-family: Nunito Sans;
	font-style: normal;

}